body {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
	background: rgb(0,251,202);
	background: linear-gradient(45deg, rgba(0,251,202,0.675529586834734) 0%, rgba(201,0,255,0.7819721638655462) 100%) fixed;
}

#wicys-logo {
	display: inline;
	max-width: 40px;
}

#csc-logo {
	display: inline;
	max-width: 40px;
	max-height: 40px;
}

#linkicon {
	display: inline;
	max-width: 40px;
	max-height: 40px;
}

#resume {
	display: inline;
	align-content: center;
	max-width: 75%;
	max-height: 75%;
}

.title {
	text-align: center;
	font-size: 36pt;
	min-width: 415px;
	overflow: visible;
	margin-bottom: 40px;
}

.name {
	text-align: center;
  font-weight: 300;
	margin-bottom: 0px;
	font-size: 65pt;
	border-bottom: 2px solid;
}

.tagline {
	text-align: center;
	font-size: 30pt;
	margin-top: 10px;
}

.text {
	text-align: center;
	font-size: 20pt;
	margin-top: 10px;
}

.header {
	font-size: 25pt;
	padding-top: 1em;
}
